.Navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
}

.Navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.Navbar li {
  float: left;
}

.Navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navbar li a:hover {
  background-color: #111;
}
